body{
               font-family: "ff-meta-web-pro", sans-serif;
               background-color: black;
               color:rgb(48, 216, 15);
               text-align:left;
               margin-left: 30px;
               font-size: 100%;
                line-height: 26px;
            }

            h1{
                text-align: center;
            }

            #tagline{
                text-align: center;
            }

            .emphasis{
                color: red;
                font-weight: bold
            }

            #history-varlesia{
                background: rgb(66, 66, 66);
                width: 50%;
                height: 300px;
                overflow-y: auto;
                margin: 15px 0px 10px 6px;
            }

            #map-varlesia{
                width:100%;
                margin-right: 10px;
                margin-bottom: 10px;
                border: 6px groove green
            }

            #container{
                width:auto;
                margin:auto;
                border: 1px solid rgb(124, 46, 46);
                border-top: 10px solid purple;
            }